"""
Here's a list of all required libraries for all files.
'numpy' is omitted from below since it is used almost everywhere;
other libraries (like 'os' and 'collections') are omitted, as they are part of the Python standard library.

1. data_handler.py:
- 'pandas'
--> 'pyarrow' and 'fastparquet' are required to read/write from/to files with parquet formatting
- 'spacy'
--> the pretrained pipeline used has to be downloaded separately: 
    python -m spacy download en_core_web_sm
- 'tqdm'


2. term_document_matrix.py:
- 'pandas'

3. svd.py
- 'scikitlearn'
--> in particular, from sklearn.decomposition is imported TruncatedSVD;
    the method assumes to be working with a scipy sparse matrix

4. lsi.py
- 'pickle'
- 'matplotlib'

5. fftq_handler.py:
--> same as data_handler.py

6. lsi_ir.py:
- 

7. project.ipynb:
- 'tkinter'

"""